.step_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0 0;
}

.step_container {
  max-width: 1500px;
  width: 100%;
  padding: 50px 40px 40px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 16px 16px 0 0;
  overflow: auto;
}
