.wrapper h1 {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 400;
  color: #555;
}

/* 테이블 */
.table_val {
  border: 1;
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
  table-layout: fixed;
  border-top: 1px solid #e2e2e2;
}

.table_val thead td {
  background-color: #fafafa;
  border-bottom: 1px solid #e2e2e2;
}

.table_val thead th {
  height: 24px;
  font-size: 9px;
  color: #666;
  background-color: #fafafa;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 400;
}

.table_val tbody tr {
  width: 100%;
  background-color: transparent;
}

.table_val tbody th {
  height: 30px;
  font-size: 9px;
  color: #666;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 400;
}

.table_val tbody td {
  width: auto;
  height: 30px;
  font-size: 9px;
  color: #666;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
}

.chart_wrap {
  float: right;
  width: 93.5%;
  height: 80px;
}
