.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* step1 테이블 박스 */
.table_val {
  border: 1;
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
  table-layout: fixed;
  border-top: 1px solid #e2e2e2;
}

/* 테이블 헤더 */
.table_val thead tr th,
.table_val thead tr td {
  height: 20px;
  font-size: 9px;
  color: #666;
  background-color: #fafafa;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 400;
}

/* 테이블 바디 */
.table_val tbody tr {
  width: 100%;
  background-color: transparent;
}

.table_val tbody th {
  height: 26px;
  font-size: 8px;
  color: #797979;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 400;
  white-space: pre-line;
}

.table_val tbody td {
  width: auto;
  font-size: 9px;
  color: #666;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
}

.info_desk_wrap_no_alert {
  width: 100%;
  padding: 14px;
  background-color: #cce6cc;
  border: 1px solid green;
  border-radius: 14px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.info_desk_wrap_no_alert p {
  color: green;
  font-size: 15px;
  margin-left: 10px;
}

/* 안내 데스크 */
.info_desk_wrap {
  width: 100%;
  padding: 8px;
  background-color: #fff2db;
  border: 1px solid #ffdda1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.info_desk_wrap p {
  color: #ff9100;
  font-size: 10px;
  margin-left: 6px;
}

.info_desk_wrap p span {
  color: #ff8000;
  font-weight: 500;
}

.info_desk_wrap img {
  width: 12px;
}
