@media print {
    .wrapper {
      width: 210mm;
      height: 297mm;
    }
  
    .print_btn {
      display: none;
    }
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fafcff;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 794px;
    padding: 5px 30px 5px;
    position: relative;
  }
  
  /* 전체 타이틀 */
  .title_wrap {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  
  .title_wrap h1 {
    font-size: 24px;
    line-height: 1.3;
  }
  
  .title_wrap h1 span {
    font-size: 16px;
    font-weight: 500;
  }
  
  .title_wrap img {
    height: 48px;
  }
  
  /* 컴포넌트 첫줄  */
  .cp_wrapper {
    width: 100%;
    background-color: #fff;
    border: 2px solid #eeeeee;
    padding: 0px 18px;
    border-radius: 12px;
    margin: 5px 0 5px;
  }
  
  .cp_wrapper h1 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px; 
  }
  
  .cp1_wrap {
    width: 100%;
    display: flex;
    column-gap: 40px;
  }
  
  .cp_chart_wrap {
    width: 100%;
    max-width: 260px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  
  /* 컴포넌트 둘째줄 */
  .cp2_wrap {
    width: 100%;
    display: flex;
    margin-top: 10px;
    column-gap: 20px;
  }
  
  /* 프린트 버튼 */
  .print_btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #44628a;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: 1px solid #3a5882;
    width: 100px;
    height: 38px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.2);
    transition: 0.3s ease-in-out;
  }
  
  .print_btn:hover {
    box-shadow: none;
    background-color: #3a5882;
  }
  
  .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
  }
  
  .btn_wrap img {
    margin-right: 6px;
  }
  
  /* 페이지 넘버 */
  .page_number {
    display: flex;
    justify-content: center;
    width: 70px;
    padding: 2px 14px;
    font-size: 8px;
    background-color: #f5f3f3;
    border: 1px solid #eee;
    border-radius: 100px;
    color: #888;
    margin-top: 0px;
  }
  
  /* 서울시 로고 */
  .logo {
    position: absolute;
    right: 20px;
    width: 96px;
  }
  
  /* 섹션1 박스 */
  /* 타이틀박스 */
  .sec_title_wrap {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #416696;
    border: 2px solid #6b98d2;
    border-radius: 12px;
    background-image: url(../../../@assets/print/bg-edge.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .sec_title_wrap h2 {
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  
  .sec_title_wrap h2 img {
    margin-right: 12px;
  }
  /* // */
  