.wrapper {
  width: 100%;
  max-width: 280px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 16px 18px;
}

.wrapper h1 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 6px;
}

.wrapper h1 span {
  color: #888;
  font-weight: 400;
  font-size: 12px;
}

.tag_wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.tag_wrap li {
  font-size: 11px;
  color: #666;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.tag_wrap li div {
  width: 8px;
  height: 6px;
}

.chart_wrap {
  width: 100%;
  height: 157px;
}

/* step1 테이블 박스 */
.table_val {
  border: 1;
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
  table-layout: fixed;
  border-top: 1px solid #e2e2e2;
}

.table_val tbody tr {
  width: 100%;
  background-color: transparent;
}

.table_val tbody th {
  width: 80px;
  height: 20px;
  font-size: 13px;
  color: #666;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 400;
}

.table_val tbody td {
  width: auto;
  font-size: 13px;
  color: #666;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
}
