.wrapper {
  width: 100%;
  display: flex;
  column-gap: 10px;
  margin: 10px 0;
}

.cp_wrap {
  width: 100%;
  background-color: #fff;
  border: 2px solid #eeeeee;
  padding: 16px 18px;
  border-radius: 12px;
}

.cp_wrap h1 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 14px;
}

.cp_wrap ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 6px;
  display: flex;
  flex-direction: column;
}

.cp_wrap ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cp_wrap ul li h2 {
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #555;
}

.cp_wrap ul li p {
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #555;
}
