.wrapper {
  width: 100%;
  max-width: 280px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 16px 18px;
}

.wrapper h1 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 6px;
}

.tag_wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.tag_wrap li {
  font-size: 11px;
  color: #666;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.tag_wrap li div {
  width: 8px;
  height: 6px;
}

.chart_wrap {
  width: 100%;
  height: 240px;
}
